
:root { 
    --main-color: #26619c;
    --sec-color: #FF8243;

    /* Fonts. */
    --ff-nav-size: 1.2em;
    --ff-main-font: 'Roboto Mono';
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.cont {
    width: 100vw;
    height: 100vh;
    background: var(--main-color);

    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-font-smoothing: antialiased;
}

nav {
    padding: 20px;
    min-width: calc(100vw - 12.5px);
    background: var(--section-bg-color);

    /* Display */
    display: flex;
    position: fixed;
}

nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-inline: 20px;
    position: relative;

    /* Style */
    list-style-type: none;
    font-size: var(--ff-nav-size);
    font-family: var(--ff-main-font);
    color: var(--sec-color);
}


.github:hover {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.github:link {
    color: var(--sec-color);
    background-color: transparent;
    text-decoration: none;
}

.github:visited {
    color: var(--sec-color);
    background-color: transparent;
    text-decoration: none;
}

.github:active {
    color: var(--sec-color);
    background-color: transparent;
    text-decoration: none;
}