.page {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  padding: 5em 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.main_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.photo {
  width: 9em;
  height: 9em;
  background-color: var(--second-forground);
  border: 0.25em solid var(--main-foreground);
  border-radius: 50%;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  font-family: var(--special-f);
  color: var(--main-foreground);
}

.additional {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--main-foreground);
  margin-bottom: 1em;
}

.cv_button {
  cursor: pointer;
  appearance: none;
  border-style: none;
  position: relative;
  touch-action: manipulation;
  color: var(--main-foreground);
  background-color: var(--second-forground);
  border-radius: 2em;
  padding: 1em;
  font-weight: 600;
  font-family: var(--main-font);
  font-size: 1rem;
}

.bamboo {
  width: 2em;
  height: 2em;
  fill: var(--bamboo-color);
  transform: rotate(-90deg);
}

.bio {
  max-width: 90ch;
}

.bio_header {
  padding: 0.5em 0;
  color: var(--main-foreground);
  font-family: var(--special-f);
  font-weight: 600;
  font-size: 1.5em;
}

.projects_con {
  display: grid;
  flex-direction: flex;
}

.project {
  display: flex;
  align-items: center;
  gap: 1em;
}

.name {
  color: var(--main-foreground);
  font-family: var(--special-f);
  font-size: 1.3em; 
}

.text {
  color: var(--main-foreground);
  font-family: var(--main-font);
  font-size: 1.2em;
  padding: 0 0 0.5em 0;
}